/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */

/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
@import '../../bower_components/foundation/scss/foundation';

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.drk-btn {
    background: #232323 !important;
    color:#fff;
    font-family: 'Exo', sans-serif;
}


.firepad {
  width: 700px;
  height: 450px;
  background-color: #f62; /* dark orange background */
}

/* Note: CodeMirror applies its own styles which can be customized in the same way.
   To apply a background to the entire editor, we need to also apply it to CodeMirror. */
.CodeMirror {
  background-color: #f62;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.exo {
  font-family: 'Exo', sans-serif;
  text-align: center;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

.addprojecttitle {
  background: #1d7b3f;
  border-radius: 15px 15px 0px 0px;
}

.addproject {
  background: #3d9b5f url('../assets/images/addproject.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
}

#thegoods {
  background-color: #232323;
}

.blogimage {

}

.blogtitle {
  color: #000;
  background: #606060;
  border-radius: 15px 15px 0px 0px;
}

.blogdesc {
  color: #000;
  background: #d0d0d0;
}

.rounded {
  border-radius: 15px 15px 15px 15px;
}

.whiteback {
  background: #fff;
  box-shadow: 5px 5px 10px #000;
}

.blogtypes {

}

.topmargin {
  height: 1em;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
