<div class="topmargin">

</div>
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2" data-equalizer data-equalizer-mq="large-up">

  <li ng-if="project.user.isLoggedIn()">
    <a class="button" href="#" zf-open="advancedModal" style="padding:0 !important; margin:0 !important;">
      <div class="card success">
        <img src="assets/images/addproject.png" alt="" />
        <div class="card-divider">
        </div>
        <div class="card-section">
        </div>
      </div>
    </a>
  </li>

  <li data-equalizer-watch>
  <a href="#">
    <div class="rounded whiteback">

    <div class="row exo addprojecttitle">
      <h4>New Project</h4>
    </div>
    <div class="row addproject" style="height:170px;">
    </div>
    <div class="row">
      <span class="label dark" ng-repeat="type in project.types" style="margin:10px;">{{type}}</span>
    </div>
    </div>

    </div>
  </a>
  </li>

  <li ng-repeat="(key, project) in project.projects" data-equalizer-watch>
    <a ui-sref="projdetail({id: key})">
    <div class="rounded whiteback">

    <div class="row exo blogtitle">
      <h4>{{project.title}}</h4>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <div class="shrink left">
          <img ng-src="{{project.image}}">
        </div>
      </div>
      <div class="small-8 columns">
      <div style="color:#000;">
        <p>{{project.description}}</p>
      </div>
      </div>
    </div>
    <div class="row">
      <span class="label dark" ng-repeat="type in project.types" style="margin:10px;">{{type}}</span>
    </div>
    </div>

    </div>
  </a>
  </li>

</ul>
