<div class="row">
  <ul>
    <li ng-repeat="blog in blog.blogs">
      <div class="vertical grid-block small-12 columns">
        <div class="grid-block blogimage">
          <img ng-src="{{blog.image}}">
        </div>
        <div class="grid-block blogtitle">
          <h4>{{blog.title}}</h4>
        </div>
        <div class="grid-block blogdesc">
          <p>{{blog.text}}</p>
        </div>
        <div class="grid-block blogtypes">
          <span class="label" ng-repeat="type in blog.types" style="margin-right:5px;">{{type}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
